/* You can add global styles to this file, and also import other style files */
@use 'index' as ng-jvx-multiselect;

html{
  height: 100%;
  body {
    height: 100%;
  }
}

// Plus imports for other components in your app.


:root {
  --jvx-multiselect-primary: #008000;
  --jvx-multiselect-accent: #0000FF;
  --jvx-multiselect-warn: #FF0000;
  --jvx-multiselect-on-primary: #ffffff;
  --jvx-multiselect-on-accent: currentcolor;
  --jvx-multiselect-on-warn: currentcolor;
  --jvx-multiselect-panel-bg: #FFFFFF
}

