<div class="content" role="main">
  <div style=" width: 100%; height: 300px; overflow: auto">
    <div [ngStyle]="{'width.px': width}">
      <form [formGroup]="form" [ngStyle]="{'width.px': width}">
        <ng-jvx-multiselect style="width: 100%"
                            formControlName="selectionValue"
                            [panelClass]="'test-panel'"
                            [disabled]="true"
                            [options]="jvxOptions()"
                            [searchInput]="true"
                            [multi]="true"
                            [searchMode]="'client'"
                            [postPayload]="postPayload"
        >
          <ng-container *ngJvxSelectionTemplate="let options">
            <div style="display: flex; gap: 0.3rem; flex-wrap: wrap;">
              @for (option of options; track option.value + '-' + option.text) {
                <ng-jvx-multiselect-chip
                  [value]="option">
                  {{ option.text }}
                </ng-jvx-multiselect-chip>
              }
            </div>
          </ng-container>
          <div ng-jvx-footer>
            <div style="height: 40px; display: flex; align-items: center; padding: .25rem;">footer</div>
          </div>
        </ng-jvx-multiselect>


<!--        <div style="width: 500px;">-->
<!--          <label>questa è la label</label>-->
<!--          <ng-jvx-multiselect-->
<!--            (valueChange)="onValueChange($event)"-->
<!--            [clearable]="true"-->
<!--            [mapper]="mapper"-->
<!--            [multi]="false"-->
<!--            [closeButton]="true"-->
<!--            [ignorePagination]="false"-->
<!--            [panelClass]="'test-panel'"-->
<!--            [url]="url"-->
<!--            [requestType]="'post'">-->

<!--            <div placeholder>placeholder</div>-->
<!--            <div *ngJvxOptionsTemplate="let option"-->
<!--                 [ngJvxDisabledOption]="option.text.includes('0')">-->
<!--              <div style="padding: 5px 0">-->
<!--                <div>testo: {{ option.text }}</div>-->
<!--                <div>valore: {{ option.value }}</div>-->
<!--                <div>valore: {{ option.value }}</div>-->
<!--                <div>valore: {{ option.value }}</div>-->
<!--                <div>valore: {{ option.value }}</div>-->
<!--                <div>valore: {{ option.value }}</div>-->
<!--                <div>valore: {{ option.value }}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div ng-jvx-footer [style.height]="'60px'">footer aaa</div>-->
<!--          </ng-jvx-multiselect>-->
<!--        </div>-->

<!--        @if (showSecondJvx()) {-->
<!--          <div style="width: 500px;">-->
<!--            <label>questa è la label</label>-->
<!--            <ng-jvx-multiselect-->
<!--              [clearable]="true"-->
<!--              [mapper]="mapper"-->
<!--              [multi]="false"-->
<!--              [closeButton]="true"-->
<!--              [ignorePagination]="false"-->
<!--              [panelClass]="'test-panel'"-->
<!--              [url]="url"-->
<!--              [requestType]="'post'">-->

<!--              <div placeholder>placeholder</div>-->
<!--              <div *ngJvxOptionsTemplate="let option"-->
<!--                   [ngJvxDisabledOption]="option.text.includes('0')">-->
<!--                <div style="padding: 5px 0">-->
<!--                  <div>testo: {{ option.text }}</div>-->
<!--                  <div>valore: {{ option.value }}</div>-->
<!--                  <div>valore: {{ option.value }}</div>-->
<!--                  <div>valore: {{ option.value }}</div>-->
<!--                  <div>valore: {{ option.value }}</div>-->
<!--                  <div>valore: {{ option.value }}</div>-->
<!--                  <div>valore: {{ option.value }}</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div ng-jvx-footer [style.height]="'60px'">footer aaa</div>-->
<!--            </ng-jvx-multiselect>-->
<!--          </div>-->
<!--        }-->

      </form>
      <button (click)="reset()">reset selection</button>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

